footer {

    height: 2,5rem;
    bottom: 0;
    position:relative;
    background-color: rgb(21, 69, 153);
    text-align: center;
    box-shadow: 10px 10px 25px 0px black;
    color: white;
    padding: 15px;
    margin-top: 50px;
    width: 100%;
}

