header {
    width: 100%;
    background-size: cover;
    font-family: sans-serif;
    background-color: rgb(21, 69, 153);
    height: 50px;
    box-shadow: 10px 10px 25px 0px black;
}

header ul{
    display: flex;
  justify-content: space-around;
  list-style-type:none;
  padding-top: 15px;
  
}

/* header li {

} */


header li a {
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 5px;
}